@import"variable";
body {
    font-family: $font-family-english, $font-family-chinese, sans-serif;
    font-size: 16px;
    line-height: 24px;

   @include pad {
      
            font-size: 14px;
            line-height: 21px;
      

    }

}

.container {
    padding: 0 15px;
    max-width: 1140px;
    margin: 0 auto;

   @include pad {
      
            max-width: 720px;  

    }

   @include mobile {
      
            max-width: 375px;     


    }
}



.bold {
	font-weight: 700;
}

.regular {
	font-weight: 400;
}

a {
	color: initial;
}

.bg-color-1 {
	background-color: $primary;
}
.color-1 {
	color: $white;
}
.color-2 {
	color: $secondary;
}
.color-3 {
	color: $black;
}
.color-4 {
	color: $primary;
}
.color-5 {
	color: #212529;
}
.color-6 {
	color: #707070;
}
.ff-Roboto {
	font-family: $font-family-english, sans-serif;
}
.fs-1 {
	font-style: italic;
}
.fw-9 {
	font-weight: 900;
}
.text-center {
	text-align: center;
}
.mb-1 {
	margin-bottom: 8px;
}

h2 {
	font-size: 64px;
	line-height: 96px;
	@media (max-width: 787px){
		
			font-size: 32px;
			line-height: 72px;
		
    
	}
}


h3 {
	font-size: 48px;
	line-height: 72px;
	@media (max-width: 992px){
			
		font-size: 32px;
		line-height: 48px;

	}
	
	@media (max-width: 787px){
		
			font-size: 24px;
			line-height: 48px;
	
	}

}


h4 {
    font-size: 36px;
    line-height: 54px;

   @include mobile {

        font-size: 16px;
        line-height: 30px;


    }
}

h5 {
	font-size: 24px;
	line-height: 36px;
}