
//Breakpoints

@mixin pad{ 
    
    @media (max-width: 992px){
        @content;
    }
}

@mixin mobile{
    @media (max-width: 787px){
        @content;
    }
}



//img replace text
 @mixin text-hiding {
    text-indent: 101%;
    overflow:hidden;
    white-space: nowrap;
}



//circle
@mixin circle ($size,$color){
    width: $size;
    height: $size;
    border-radius: 999em;
    background-color: $color;

}


//triangle
@mixin triangle-up ($size,$color){
    width: 0;
    height: 0;
    border-left: $size/2 solid transparent;
    border-right: $size/2 solid transparent;
    border-bottom: $size solid $color;

}


@mixin triangle-down ($size,$color){
    width: 0;
    height: 0;
    border-left: $size/2 solid transparent;
    border-right:$size/2 solid transparent;
    border-top: $size solid $color;

}

@mixin triangle-left ($size,$color){
    width: 0;
    height: 0;
    border-top: $size/2 solid transparent;
    border-right:$size solid $color;
    border-border-bottom: $size/2 solid transparent;

}

@mixin triangle-right ($size,$color){
    width: 0;
    height: 0;
    border-top: $size/2 solid transparent;
    border-left: $size solid $color;
    border-bottom: $size/2 solid transparent;

}


@mixin triangle-topleft ($size,$color){
    width: 0;
    height: 0;
    border-top: $size solid $color;
    border-right: $size solid transparent;

}

@mixin triangle-topright ($size,$color){
    width: 0;
    height: 0;
    border-top: $size solid $color;
    border-left: $size solid transparent; 

}

@mixin triangle-bottomleft ($size,$color){
    width: 0;
    height: 0;
    border-bottom: $size solid $color;
    border-right: $size solid transparent;
}

@mixin triangle-bottomleft ($size,$color){
    width: 0;
    height: 0;
    border-bottom: $size solid $color;
    border-left: $size solid transparent;
}


//Absolute Center (Vertical & Horizontal) an Image
@mixin backgroundImage($imageUrl,$backgroundSize) {
    background-image: $imageUrl;
    background-size: $backgroundSize;
    background-position: center center;
    background-repeat: no-repeat;
  }

@mixin imgAbsoluteCenter($width, $height){
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    height: $height;
    margin-top: -$height/2; /* Half the height */
    margin-left: -$width/2; /* Half the width */
}
   